<form action="/users/signin" method="post">
  <p>Username: <input name="user" type="text" value=<%= params[:user] || "" %>></p>
  <p>Password: <input name="pw" type="text" value=""></p>
  <input type="submit" value="Sign In">
</form>